<div id="text">
	<button id="clickme">CLICK TO REFRESH COLORZ</button>
	<h1>derpy dooo</h1>
	<p>i am p</p>
</div>

<div id="color1"></div>
<div id="color2"></div>
<div id="color3"></div>
<div id="color4"></div>
<div id="color5"></div>

